.grid-container {
  margin-left: 20px;
  margin-right: 20px;
}

.kpi-card {
  width: 100%;
  padding: 20px;
  margin-bottom: 1rem;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px; 
  /* box-shadow: none; */
}

.dashboard-card-top {
  position: absolute;
  top: 2px;
  left: 15px;
  right: 15px;
  bottom: 17px; 
  /* box-shadow: none; */
}

.dashboard-card__header {
  border-bottom: 1px solid #D5D5E2;
  margin-bottom: 1.5rem;
  height: 36px;
}

.header{
  margin-top: -5px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #A1A1B5;
}

.dashboard-card-content {
  padding-right: 100px;
}

.dashboard-doughnut-content {
  text-align: center;
}

.empty-state {
  margin: 20px;
  text-align: center;
}

.empty-img{
  width: auto;
  height: 300px;
}

h1{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
}