<ngx-spinner size="medium" [fullScreen]="true"><p class="loading">Loading...</p></ngx-spinner>

<div class="grid-container" *ngIf="!!characteristics">
  <div class="kpi-wrap">
    <mat-grid-list cols="4" rowHeight="120px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-kpi-card class="kpi-card"
                  [title]="'Avg. Build Duration'"
                  [duration]="characteristics.avgBuildDuration"
          ></app-kpi-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-kpi-card class="kpi-card"
                [title]="'Avg. Step Duration'"
                [duration]="characteristics.totalAvgStepDuration"
        ></app-kpi-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card class="dashboard-card-top">
          <mat-card-header class="dashboard-card__header">
            <p class="header">Avg. Step Duration Per Step Per Job in Seconds</p>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <app-avgstepdurationperstepperjob-chart [pipelineSteps]="characteristics.avgStepDurationPerStepPerJob"></app-avgstepdurationperstepperjob-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-kpi-card class="kpi-card"
                [title]="'Avg. Successfull Step Duration'"
                [duration]="characteristics.totalAvgSuccessfulStepDuration"
        ></app-kpi-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-custom-card class="kpi-card"
        [stepsFailed]="characteristics.stepsFailed"
        [jobsFailed]="characteristics.jobsFailed">
        </app-custom-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <mat-grid-list cols="5" rowHeight="512px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header class="dashboard-card__header">
            <p class="header">Arrival Rate</p>
          </mat-card-header>
          <mat-card-content>
            <div>
              <app-arrivalrate-chart [arrivalRate]="characteristics.arrivalRate"></app-arrivalrate-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header class="dashboard-card__header">
            <p class="header">Build Results</p>
          </mat-card-header>
          <mat-card-content class="dashboard-doughnut-content">
            <div>
              <app-buildresults-chart [buildResults]="characteristics.buildResults"></app-buildresults-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> 
</div>
<div class="empty-state" *ngIf="!characteristics">
  <img class="empty-img" src="../assets/img/empty-box.svg" />
  <h1>It looks very empty here.</h1>
  <h2>Please select a repository whose data should be displayed.</h2>
  <button mat-flat-button color="primary" routerLink='/repositorylist' routerLinkActive='active'>Select Repository</button>
</div>