.kpi-card {
  width: 100%;
  padding: 16px;
  margin-bottom: 1rem;
}

.grid-container {
  margin-left: 20px;
  margin-right: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px; 
  /* box-shadow: none; */
}

.dashboard-card__header {
  border-bottom: 1px solid #D5D5E2;
  margin-bottom: 1.5rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.empty-state {
  margin: 20px;
  text-align: center;
}

.empty-img{
  width: auto;
  height: 300px;
}

h1{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem;
}