<nav class="navbar navbar-expand-md fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand">StalkCD Cockpit</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    
                    <a class="nav-link" routerLink='/home' routerLinkActive='active'>
                        <i class="bi bi-pie-chart-fill"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/convert' routerLinkActive='active'>
                        <i class="bi bi-share-fill"></i>
                        Convert
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/error' routerLinkActive='active'>
                        <i class="bi bi-bug-fill"></i>
                        Error
                    </a>
                </li>
        </ul>
    </div>
  </nav>