<mat-card class="converter-card-content">
	<form [formGroup]="frmStepThree">
		<mat-card-title>Choose the target format</mat-card-title>

		<mat-form-field>
            <input matInput formControlName="sourcePath" placeholder="Path" required>
        </mat-form-field>

		
		<p>TODO:</p>
		<p>-Name of the file</p>
		<p>- Nicht jede source quelle erlaubt den convert zum target format</p>
		<p>     - Wenn nicht erlaubt, dann soll das target format nicht angezeigt werden</p>


		<mat-card-actions>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button matStepperNext>Next</button>
		</mat-card-actions>
	</form>
</mat-card>
