<h2 mat-dialog-title>Download Repository</h2>
<mat-dialog-content class="mat-typography">
  <ngx-spinner size ="medium" [fullScreen] = "false"><p class="loading">Loading...</p></ngx-spinner>

  <div *ngIf="!isDone">
      <form [formGroup]="downloadForm" id="downloadForm" (ngSubmit)="downloadForm.valid && downloadRepository()">
          <div class="flex-row text-align-center">
                <input type="hidden" name="saveTo" class="form-control" formControlName="saveTo" value="db"> 

                <label for="repoName">Repository Name</label>
                <input type="text" id="repoName" class="form-control" formControlName="repoName">
    
                <label for="repoOwner">Repository Owner</label>
                <input type="text" name="repoOwner" class="form-control" formControlName="repoOwner">
    
                <label for="workflowName">Workflow Name</label>
                <input type="text" name="workflowName" class="form-control" formControlName="workflowName">
    
                <label for="gitHubToken">Your GitHub Token</label>
                <input type="text" name="gitHubToken" class="form-control" formControlName="gitHubToken">    
  
                <label for="depth">Depth</label>
                <select class="form-select" name="depth" formControlName="depth">
                    <option value="1">Workflow Description File</option>
                    <option value="2">+Runs</option>
                    <option value="3">+Jobs</option>
                    <option value="4">+Logs</option>
                </select>

                <label for="pages">Your GitHub Token</label>
                <input type="number" name="pages" class="form-control" formControlName="pages">
                <span><small>1 is equal to 100 runs.</small></span>
          </div>
      </form>
  </div>
  <div *ngIf="isDone" style="text-align: center;">
    <div *ngIf="wasSuccessful">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <h5>Download Complete.</h5>
    </div>
    <div *ngIf="!wasSuccessful">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
      </svg>
      <h5>Something unexpected went wrong.</h5>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <div *ngIf="!isDone">
    <button mat-flat-button color="basic" type="button" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!downloadForm.valid" form="downloadForm">Download</button>
  </div>
  <div *ngIf="isDone">
      <button mat-flat-button color="basic" type="button" [mat-dialog-close]="true">Close</button>
  </div>
</mat-dialog-actions>