.grid-container {
    margin-left: 20px;
    margin-right: 20px;
}

.addButton{
    float: right;
    top: 50px;
    right: 15px;
}


table {
    width: 100%;
    background-color: #FFFFFF;
    /* box-shadow: none; */
}

tr.workflow-detail-row {
    height: 0;
}

tr.workflow-element-row:not(.workflow-expanded-row):hover {
    background: whitesmoke;
}

tr.workflow-element-row:not(.workflow-expanded-row):active {
    background: #efefef;
}

.workflow-element-row td {
    border-bottom-width: 0;
}

.workflow-element-detail {
    overflow: hidden;
    display: flex;
}

.workflow-detail {
    flex: 1;
    padding: 5px;
    opacity: 0.6;
}

.bi-check-circle-fill{
    color: green;
}
.bi-x-circle-fill{
    color: red;
}

.mat-mdc-fab.custom { 
    background-color: #cddc39; 
    color: white; 
    border: 1px solid #cddc39; 
}