<ngx-spinner size="medium" [fullScreen]="true"><p class="loading">Loading...</p></ngx-spinner>

<div class="grid-container">
    <button mat-fab color="primary" class="addButton" (click)="openDownloadModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FFFFFF" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </button>
    <mat-form-field>
        <mat-label>Search...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
    </mat-form-field>
    <table mat-table [dataSource]="datasource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="repoName">
            <th mat-header-cell *matHeaderCellDef>Repository</th>
            <td mat-cell *matCellDef="let element">{{element.repoName}}</td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{element.state}}</td>
        </ng-container>
        <ng-container matColumnDef="downloaded">
            <th mat-header-cell *matHeaderCellDef>Downloaded</th>
            <td mat-cell *matCellDef="let element">
                <i *ngIf="element.downloaded" class="bi bi-check-circle-fill"></i>
                <i *ngIf="!element.downloaded" class="bi bi-x-circle-fill"></i>
            </td>
        </ng-container>
        <ng-container matColumnDef="downloadDate">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.downloadDate | date: 'longDate': 'de'}}</td>
        </ng-container>
        <ng-container matColumnDef="analyze">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button *ngIf="element.downloaded" (click)="getCharacteristics(element)" routerLink='/home' routerLinkActive='active'>
                    <i class="bi bi-search"></i>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="workflow-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div>
                    <p class="workflow-detail">Node ID: <small>{{element.node_id}}</small></p>
                    <p class="workflow-detail">Path: <small>{{element.path}}</small></p>
                    <p class="workflow-detail">Created At: <small>{{element.created_at | date: 'longDate': 'de'}}</small></p>
                    <p class="workflow-detail">Updated At: <small>{{element.updated_at | date: 'longDate': 'de'}}</small></p>
                    <p class="workflow-detail">URL: <small>{{element.url}}</small></p>
                    <p class="workflow-detail">HTML URL: <small>{{element.html_url}}</small></p>
                    <p class="workflow-detail">Badge URL: <small>{{element.badge_url}}</small></p>
                </div>
            </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="workflow-element-row"
            [class.workflow-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="workflow-detail-row"></tr>
    </table>
</div>