.grid-container {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
}

tr.workflow-detail-row {
    height: 0;
}

tr.workflow-element-row:not(.workflow-expanded-row):hover {
    background: whitesmoke;
}

tr.workflow-element-row:not(.workflow-expanded-row):active {
    background: #efefef;
}

.workflow-element-row td {
    border-bottom-width: 0;
}

.workflow-element-detail {
    overflow: hidden;
    display: flex;
}

.workflow-detail {
    flex: 1;
    padding: 5px;
    opacity: 0.6;
}