.success-card{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 580px;
    text-align: center;
}

.title{
    margin-bottom: 20px;
    margin-top: 20px;
}

.content{
    text-align: center;
}