.dashboard-card {
    /* box-shadow: none; */
    height: 100px;
    box-sizing: border-box;
}

.kpi-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #757575;
    margin: 0 8px;
}

.kpi-result {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
    margin: 0 8px;
} 

i{
    width: 16px;
    height: 16px;
    margin: 0 -8px;
    color: #CDDC39;
    cursor: pointer;
}